<web-app>
	<display-name>Archetype Created Web Application</display-name>


	<servlet>

		<servlet-name>A</servlet-name>
		<servlet-class>com.js.demo.First</servlet-class>


	</servlet>

	<servlet-mapping>

		<servlet-name>A</servlet-name>
		<url-pattern>/xyz</url-pattern>

	</servlet-mapping>




<servlet>

<servlet-name>Form</servlet-name>
<servlet-class>com.js.demo.FormServlet</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>Form</servlet-name>
<url-pattern>/data</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Form2</servlet-name>
<servlet-class>com.js.demo.Form2</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Form2</servlet-name>
<url-pattern>/info</url-pattern>
</servlet-mapping>

</web-app>
